# Testing
pytest
pylama
flake8-import-order
tox

# Documentation
numpydoc
sphinx

# Cuckoo Filter requests
mmh3
bitarray
netaddr

# plot results
matplotlib
pandas

# icarus Main
networkx
fnss
numpy
scipy
python-dateutil
Click
matplotlib
setuptools
tqdm
sortedcontainers